@tailwind base;
@tailwind components;
@tailwind utilities;
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Space+Grotesk:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
img {
  height: 100%;
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}


@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 20rem;
  position: relative;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background-color: rgba(33,32,30,.16);
  backdrop-filter: blur(54px);
  position: absolute;
  width: 100%;
  bottom: 0;
}
div.card_content_small{
  display: grid;
  grid-template-columns:repeat(4, [col-start] fit-content(200px) [col-end]);
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: #ecf9ff;
}

.card_title {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #f5b921;
  font-size: 0.775rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

.card_image {
  position: relative;
  height: 100%;
  width: 100%;
}



